.button {
    color: $light-gray;
    font-weight: bold;
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;

    @media screen and (max-width: 800px) {
        padding: 0.5em 2em;
    }
    
    &.main {
        background-color: $purple;
        &:hover {
            background-color: $purple-highlight;
        }
    }
    &.secondary {
        background-color: transparent;
        border: 4px solid $purple;
        &:hover {
            border-color: $purple-highlight;
        }
    }
    
}

.button-stack {
    margin-top: 1em;
    >div {
        display: flex;

        .button {
            font-size: 40px;
            width: 100%;
            margin: 0.5em 1em;
        }
    }

    @media screen and (max-width: 800px) {
        .button {
            display: block;
            width: 100%;
            padding: 1em 2em;
            margin-bottom: 1em;
        }
    }
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1em;

    >div {
        display: flex;

        .button {
            font-size: 40px;
            width: 100%;
            margin: 0.5em 1em;
            line-height: 0.8em;
            span {
                font-weight: normal;
                font-size: 0.5em;
            }
        }
    }

    &.single {
        .button {
            display: block;
            width: 100%;
        }
    }
}

.fixed-action-wrapper {
    padding: 1em;
}

.fixed-action {
    position: fixed;
    bottom: 1em;
    width: 82%;
    display: block;
    padding: 1em 2em;
    border-top: 4px solid $darkblue;
}