// Big wigs
.terminal {
    background-color: $darkblue;
    padding: 2em;
    position: relative;

    #logo {
        &.regular {
            max-width: 325px;
        }
    }

    .keypad {
        width: 500px;
        margin: 2em auto;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 1fr);

        .keyinput {
            font-size: 40px;
            text-decoration: none;
            text-align: center;
            border-radius: 100px;
            padding: 1.2em 1em;
            border: 4px solid $purple;
            &:hover {
                border-color: $purple-highlight;
            }
        }
    }

    .top-border {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        >div {
            height: 4px;
            width: 50%;
            &:first-child {
                background-color: $red;
            }
            &:nth-child(2) {
                background-color: $purple;
            }
        }
    }
}

.mobile {
    background-color: $darkblue;
    padding: 40px;
    #logo {
        &.regular {
            max-width: 150px;
        }
    }

    .card {
        background-color: $purple;
        padding: 3em;
        width: 400px;
        margin-right: 40px;

        &.account {
            .title {
                font-weight: 500;
                font-size: 2em;
            }

            .account-num {
                opacity: 0.8;
            }

            .amount {
                font-size: 2.5em;
                margin: 1em 0;
                display: block;
            }
        }
    }

    .scroller {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin: 2em -40px;
        padding-left: 40px;

        &::-webkit-scrollbar {
            display: none;
        }

        .scrollitem {
            display: inline-block !important;
            vertical-align: top;
            white-space: normal;
        }
    }

    // Page specific
    .body.homescreen {
        .loan-update {
            margin-top: 3em;
            border-top: 4px solid $purple;
            padding-top: 3em;
            >div {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            >span {
                display: block;
                margin-bottom: 0.5em;
            }

            .amount {
                font-size: 32px;
            }
        }
    }
}


// Others
#withdrawal-amount {
    //Input for amount
    padding: 1.5em 1em;
    border: 4px solid $purple;
    background: transparent;
    width: 100%;
    font-size: 48px;
    font-weight: bold;
    color: $light-gray;

    @media screen and (max-width: 800px) {
        padding: 1em;
        font-size: 32px;
    }
}

.card.qr {
    width: auto;
    margin: 1em 0;
    text-align: center;

    img {
        width: 100%;
        display: block;
        margin-bottom: 2em;
    }
}

.map {
    margin-left: -40px;
    width: 100vw;
    overflow: hidden;
}