.instruction-text {
  font-size: 32px;
}

.highlight {
  color: #D24A5A;
}

html {
  background-color: black;
  color: #D9D9D9;
  font-family: "SF Pro", Helvetica, sans-serif;
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

.terminal {
  width: 1280px;
  height: 1024px;
  margin: 2em auto;
}
.terminal #terminal-body {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "it it it it" "m m m m" "c c c c" "bg bg bg bg";
}
.terminal #terminal-body .instruction-text {
  grid-area: it;
}
.terminal #terminal-body .content, .terminal #terminal-body .button-stack {
  grid-area: c;
}
.terminal #terminal-body .success-message {
  grid-area: m;
}
.terminal #terminal-body .button-grid {
  grid-area: bg;
}
.terminal #terminal-body.withdrawal-amount-input form {
  margin: 1em 0;
}
.terminal {
  background-color: #282731;
  padding: 2em;
}

#logo.regular {
  max-width: 325px;
}

#withdrawal-amount {
  padding: 1.5em 1em;
  border: 4px solid #4B4868;
  background: transparent;
  width: 100%;
  font-size: 48px;
  font-weight: bold;
  color: #D9D9D9;
}

.success-message {
  text-align: center;
  min-height: 500px;
  padding: 1em 0;
}
.success-message h1 {
  font-size: 80px;
  margin: 0;
}

.button {
  color: #D9D9D9;
  font-weight: bold;
  padding: 1em 2em;
  text-decoration: none;
  text-align: center;
}
.button.main {
  background-color: #4B4868;
}
.button.main:hover {
  background-color: #65618E;
}
.button.secondary {
  background-color: transparent;
  border: 4px solid #4B4868;
}
.button.secondary:hover {
  border-color: #65618E;
}

.button-stack {
  margin-top: 1em;
}
.button-stack > div {
  display: flex;
}
.button-stack > div .button {
  font-size: 40px;
  width: 100%;
  margin: 0.5em 1em;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1em;
}
.button-grid > div {
  display: flex;
}
.button-grid > div .button {
  font-size: 40px;
  width: 100%;
  margin: 0.5em 1em;
  line-height: 0.8em;
}
.button-grid > div .button span {
  font-weight: normal;
  font-size: 0.5em;
}

.header#terminal-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header#terminal-head input {
  background-color: transparent;
  color: #D9D9D9;
  font-size: 24px;
  border: none;
  text-align: right;
  display: block;
}